[viewBag]
==
<div class="container">
        <div class="row">
            <div class="col-sm-8">
				&copy;  {{ "now"|date("Y") }} Ria Sarkar. All Rights Reserved.  
            </div>
            <div class="col-sm-4">
                <ul class="pull-right">
                    <li><a href="{{ 'home'|page }}">Home</a></li>
                    <li><a href="{{ 'samples/about'|page }}">About Us</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="{{ 'samples/contact'|page }}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>